@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    box-shadow: 0px 1px 3px 0px rgba(152, 152, 152, 0.75);
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #5170ff;
}

.navbar-brand:hover {
    color: #5170ff;
}

.navbar-brand span {
    color: white;
    background-color: #5170ff;
}

.offcanvas-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #5170ff;
}

.offcanvas-title span {
    color: white;
    background-color: #5170ff;
}

.active {
    color: #5170ff !important;
}

.nav-link:active {
    color: #5170ff !important;
}

section {
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}

section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    color: #5170ff;
    background-color: rgb(236, 236, 236);
    transition: .3s ease;
}

.resume:hover {
    color: #ffffff;
    background-color: #5170ff;
}

.social-item {
    width: 35px;
    height: 35px;
    background-color: rgb(236, 236, 236);
    color: #5170ff;
    transition: .3s ease;
}

.social-item:hover {
    color: #ffffff;
    background-color: #5170ff;
}

.col-4 {
    cursor: pointer;
}

.col-4:hover .accent-1 {
    transform: translateX(80px);
    transition: .3s ease;
}

.col-4:hover .img-fluid {
    transform: scale(1.1);
    transition: .3s ease;
}

.img-fluid {
    z-index: 10;
}

.accent-1 {
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 5;
}

#about {
    padding-top: 90px;
}

#about p {
    text-align: justify;
}

.about-header h1 {
    cursor: pointer;
    z-index: 5;
}

.about-header h1:hover~img {
    transform: translateX(100px);
}

.about-header img {
    width: 50px;
    z-index: 4;
    transition: .3s ease;
}

.about-exp-item {
    width: 40%;
    background-color: rgb(236, 236, 236);
}

.about-exp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-exp-item-detail {
    display: none;
}

.btn-detail-exp {
    background-color: #5170ff;
    color: rgb(236, 236, 236);
    border: 2px solid #5170ff;
    transition: .3s ease;
}

.btn-detail-exp:hover {
    background-color: rgb(236, 236, 236);
    color: #5170ff;
    border: 2px solid #5170ff;
}

.detail-active {
    background-color: #5170ff;
    color: #ffffff;
    border: 2px solid #5170ff;
}

#project {
    padding-top: 90px;
}

.project-header h1 {
    cursor: pointer;
}

.project-header h1:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 5px;
    bottom: -10px;
    border-radius: 5px;
    background-color: #5170ff;
    transition: .3s all;
}

.project-header h1:hover::before {
    width: 100%;
}

.card {
    box-shadow: 0px 0px 5px 0px rgba(152, 152, 152, 0.75);
    position: relative;
    transition: 1s all;
    cursor: pointer;
}

.card::after {
    transition: 1s all;
}

.card:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: justify;
    color: #ffffff;
    padding: 15px;
    transition: 1s all;
}

#project-1:hover::after {
    content: "Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.";
    transition: 1s all;
}

#project-2:hover::after {
    content: "UI/UX design is the process of enhancing user satisfaction by improving the usability, accessibility, and pleasure provided in the interaction between the user and the product. It involves creating interfaces that are easy to use and aesthetically pleasing.";
    transition: 1s all;
}

#project-3:hover::after {
    content: "System analysis is the process of studying a system to identify its components and their relationships. It involves understanding how a system works, identifying problems, and proposing solutions to improve its efficiency and effectiveness.";
    transition: 1s all;
}

.icon-card {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #5170ff;
    color: white;
    font-size: 30px;
    box-shadow: 0px 1px 3px 0px rgba(152, 152, 152, 0.75);
    z-index: 5;
}